* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #D2D2D2;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}
.navbar {
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}


.botao-entrar {
  width: 160px;
  gap: 8px;
}

.input-pesquisar {
  border: 1px solid #bbb;
  border-radius: 8px 0 0 8px;
  padding: 8px;
}

.botao-pesquisar {
  background-color: #0096C7;
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 8px 12px;
}

.botao-pesquisar:hover {
  background-color: #038cb9;
  transition: all 0.2s;
}

.content-wraper {
  /* min-width: 800px; */
  width: 70vw;
  margin: 0 auto;
}
.imagem {
  border-radius: 8px;
  width: 250px;
  height: 250px;
}

.icon {
  width: 20px;
}

.product-card {
  width: 266px;
  overflow-wrap: break-word;
  background-color: #fff;
}

.dropdown-button {
  background-color: transparent;
  border: none;
}
.menu-item {
  font-weight: 700;
}

.menu-item:hover {
  background-color: #bbb;
}

.linha-vertical {
  border-left: 1px solid #9E9E9E;
  height: 2rem;
}
.search-input {
  max-width: 16rem;
  flex-grow: 1;
  margin: 0 2rem;
}
.logo-loja {
  width: 256px;
}
.card-loja {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.botao-voltar {
  color: #0096C7;
}

.footer-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px 0;
  margin-top: 16px;
  background-color: black;
  color: white;
}